$def with (sometxt)
	$if sometxt:
		<table id="t01">
		<tr>
		<th>Song</th>
		<th>Match score</th>
		</tr>

		<tr>
		<td>you might have noticed</td>
		<td>1.545</td>
		<tr>
		
		<tr>
		<td>the balance</td>
		<td>1.286</td>
		<tr>
		
		<tr>
		<td>we're famous</td>
		<td>1.146</td>
		<tr>
		
		<tr>
		<td>the loneliness song</td>
		<td>1.120</td>
		<tr>
		
		<tr>
		<td>westlife - tonight</td>
		<td>1.098</td>
		<tr>
		
		<tr>
		<td>beautiful emptiness</td>
		<td>1.074</td>
		<tr>
		</table>
	$else:
		<h3>Something went wrong<\h3>
		