$def with (sometxt)
	$if sometxt:
		<table id="t01">
		<tr>
		<th>Song</th>
		<th>Match score</th>
		</tr>

		<tr>
		<td>thoughts of you</td>
		<td>2.167</td>
		<tr>
		
		<tr>
		<td>the call</td>
		<td>0.579</td>
		<tr>
		
		<tr>
		<td>i can dig it</td>
		<td>0.578</td>
		<tr>
		
		<tr>
		<td>ms. amerikkka</td>
		<td>0.577</td>
		<tr>
		
		<tr>
		<td>miss perfect</td>
		<td>0.577</td>
		<tr>
		
		<tr>
		<td>what we worked for</td>
		<td>0.577</td>
		<tr>
		
		<tr>
		<td>end</td>
		<td>0.577</td>
		<tr>
		
		<tr>
		<td>miss perfect(feat. nodesha)</td>
		<td>0.576</td>
		<tr>
		
		<tr>
		<td>if you stay</td>
		<td>0.576</td>
		<tr>
		
		<tr>
		<td>i see you ahead</td>
		<td>0.576</td>
		<tr>
		
		<tr>
		<td>city of angels (remix)</td>
		<td>0.575</td>
		<tr>
		
		<tr>
		<td>drawbridge</td>
		<td>0.574</td>
		<tr>
		
		<tr>
		<td>dead pan</td>
		<td>0.573</td>
		<tr>
		
		<tr>
		<td>winners take all</td>
		<td>0.436</td>
		<tr>
		
		<tr>
		<td>tears are not enough [live/lexicon]</td>
		<td>0.436</td>
		<tr>
		
		<tr>
		<td>tears are not enough</td>
		<td>0.436</td>
		<tr>
		
		<tr>
		<td>descending</td>
		<td>0.436</td>
		<tr>
		
		<tr>
		<td>all</td>
		<td>0.436</td>
		<tr>
		
		<tr>
		<td>teddy boys</td>
		<td>0.436</td>
		<tr>
		
		<tr>
		<td>stranger things</td>
		<td>0.436</td>
		<tr>
		</table>
	$else:
		<h3>Something went wrong<\h3>
		